@font-face {
	font-family: FuturaStd-Medium;
	src: url(../fonts/FuturaStd-Medium.otf);	
}
/* Container*/
#container{
	width: 100%;
	height: 1650px;
	background:#F1F2F6;
}

/* Hero Image*/
#heroimage{
	width: 1050px;
	height: 733px;
	float:left;
	background-image:url(../images/hero_interf.png);
	background-repeat: no-repeat;
}
#hero {
	width: 100%;
	height: 683px;
	float:left;
	background-image:url(../images/hero_image_inter.jpg);
	background:#34414A;
	background-repeat: no-repeat;
	
}

#logo {
	width: 236px;
	height: 80px;
	float: left;
	margin-left: 50px;
	margin-top: 50px;	
}
#logo img{
	position: absolute;
	transition: opacity 0.3s ease-in-out;
	-moz-transition:opacity 0.3s ease-in-out;
	-webkit-transition:opacity 0.3s ease-in-out;
}
#logo img.top:hover{
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

/*
 * Text on Hero Image
 */
#text_hero {
	width: 1350px;
	height: 70px;
	margin-left: -880px;
	margin-right: auto;
	margin-top: 170px;
}


#text_hero h1{
	font-family: FuturaStd-Medium;
	font-weight: 700;
	font-kerning: 65;
	color:#E9ECF2;
	text-align: right;
	font-size: 80px;
	line-height: 85px;
}

#hero_text {
	width:410px;
	height: 100px;
	font-family: "Gill Sans";
	text-align: right;
	font-weight: lighter;
	font-size: 14px;
	line-height: 16px;
	color: #678294;
	float: left;
	margin-left: 65px;
	margin-top: 125px;
	
}

/*
 * Intro One
 */
#introone_outer {
	width: 100%;
	height: 500px;
	background-color:#74C98F;
	float: left;
}

#intro_textbox {
	width: 390px;
	height: 240px;
	background:#74C98F;
	float: right;
	margin-right: 655px;
	margin-top: 40px;
}

#intro_title h1{
	font-family: FuturaStd-Medium;
	font-weight:900;
	font-size: 70px;
	line-height: 70px;
	color: #FFFFFF;
	text-align: right;
	float: left;
	margin-left: -600px;
	margin-top: -430px;
}

#intro_text {
	width: 280px;
	height: 100px;
	font-family: "Gill Sans";
	text-align: right;
	font-weight: lighter;
	font-size: 15px;
	line-height: 22px;
	color: #FFFFFF;
	float: left;
	margin-left: -640px;
	margin-top: -205px;
}
#intro_outer {
	width: 1050px;
	height: 550px;
	background-color:#74C98F;
	float: left;
	margin-left: -50px;
	margin-top: 0px;
}
#box_2, #box_3 {
	width: 310px;
	height: 428px;
	margin-top: 45px;
	margin-left: 0px;
	background: #74C98F;
	position:relative;
}

#intro_outer ul{
	list-style-type: none;
	width:680px;
	height: 428px;
	float: right;
	
}

#intro_outer li{
	float: left;
	display: inline;
	padding: 0 25px 0 0;
	width: 310px;
	height: 428px;
}

#intro {
	width: 310px;
	height: 428px;
	float: left;
	margin-top: 50px;
	margin-left: 300px;
}



#intro2 {
	width: 1050px;
	height: 490px;
	float: left;
	margin-top: 0px;
	margin-left: -50px;
	background:#E1E7EA;/* #F1F2F6; */
	
}

#box1, #box2, #box3 {
	width: 310px;
	height: 310px;
	margin-top: 45px;
	margin-left: 0px;
	background: red;
	position:relative;
}

#box1 img, #box2 img, #box3 img {
	position:absolute;
	left:0;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

#box1 img:hover, #box2 img:hover, #box3 img:hover {
	-moz-filter:sepia(100%);
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
}


#intro2 ul{
	list-style-type: none;
	width:1000px;
	height: 300px;
	margin: 20px auto;
}

#intro2 li{
	float: left;
	display: inline;
	padding: 0 25px 0 0;
	width: 300px;
	height: 300px;
}

#app {
	width: 280px;
	height: 100px;
	font-family: "FuturaStd-Medium";
	font-weight: 50;
	text-align: right;
	font-weight: lighter;
	font-size: 20px;
	line-height: 22px;
	color: #34414A;
	float: left;
	margin-left: -65px;
	margin-top: 325px;
	
}

#footer {
	width: 1050px;
	height: 100px;
	background: #34414A;
	float: left;
	margin-left: -50px;
	margin-top: 0px;
}

#logo_footer {
	width: 120px;
	height: 40px;
	float: left;
	margin-left: 50px;
	margin-top: 38px;
}
#logo_footer img{
	position: absolute;
	transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
}

#logo_footer img.top:hover{
	opacity: 0;
}

#footer_links {
	width: 530px;
	height: 22px;
	background: #34414A;
	float: left;
	margin-left: 240px;
	margin-top: -35px;
	clear:both;
	font-family: "Gill Sans";
	font-weight: lighter;
	font-size:16px;
	text-align:center;
}
#footer_links ul {
	list-style:none;
	padding:13px 20px;
	height:auto;
	margin-top:0;
}

#footer_links li {
	float: none;
	margin: 10px auto 10px auto;
	display:inline;
	padding-right: 20px;
}

#footer_links a {
	color: #fff;
	text-decoration:none;
}

#footer_links a:hover {
	color:#F49487;
	text-decoration:none;
	transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;}

#social {
	width: 220px;
	height: 40px;
	float: right;
	margin-top: -48px;
	margin-right: 45px;
}
#instagram, #facebook, #youtube {
	width: 40px;
	height: 40px;
	float: right;
	margin-left: 15px;
	margin-top: 0px;
}

#instagram img, #facebook img, #youtube img{
	position: absolute;
	transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
}

#instagram img.top:hover, #facebook img.top:hover, #youtube img.top:hover {
	opacity: 0;
}
